@(externalRouter: ExternalRouter)

<div class="grid-row">
    <div class="column-two-thirds">
        <div id="contentStart" class="scannable-wrapper">
            <h1 class="heading-xlarge">
                Export data for published reports
            </h1>
            <p class="lede">
        Download all reports published in the last 2 years.
            </p>
            <p>
                By clicking on the CSV file below, users will be able to review all statistical and yes/no answers published by businesses.
                For further detail on narrative answers users will need to click on the individual URL address within the CSV file.
            </p>

            <p>
                <a href="@routes.DownloadController.export()" class="button">Get CSV file</a>
            </p>
        </div>
    </div>

    @shared._sidebar(externalRouter)
</div>
